.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/design
scripts/
language-local.json
.env
CLAUDE.md
.claude
.prettierignore
sapf-helpall.txt


